
hr{
    color: #FFFFFF;
    width: 1200px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    margin-left: 200px;
    margin-right: 200px;
    height: 92px;
}

.menu{
    display: flex;
    gap: 32px;
}
.menu li{
    list-style: none;
}
a{
    text-decoration: none;
}
.menu li a{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    
}
.btn-s{
    color: #FFFFFF;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px 12px 16px;
}

.arrow{
    color: #FFFFFF;
    margin-left: 3px;
    font-weight: 400;
    font-size: 1rem;
}


#banner{
    background-image: url("./../images/hero-bg.png");
    width: 100%;
    max-width: 1600px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;

}


.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}

.circle{
    padding-left: 212px;
    padding-top: 78px;
}
.micro{

}

.banner-text {
    text-align: center;

}
.banner-text h2{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 800;
    padding-top: 40px;

}
.banner-text p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 8px;


}

.banner-button{
    padding-top: 24px;
}

.listen{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    padding: 12px;
    text-align: center;
     border-radius: 10000px;


}
.subcribe{
    color: #00FF88;
    font-weight: 600;
    font-size: 16px;
    background-color: #1A0B2E;
    /* background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1))); */
    padding: 12px;
    text-align: center;
    border:1px solid #00FF88 ;
    border-radius: 10000px;
    gap: 8;


}

#about{
    width: 100%;
    max-width: 1600px;
    padding-top: 100px;
    background-color: #1A0B2E;
}
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}
.about-title{
    width: 1200px;
    height: 222px;
    text-align: center;
    padding-top: 50px;

}
.about-title h2{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 20px;
}
.about-title p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}
 .about-title, .join{
    padding-top: 20px;
}
.count{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 120px;
    gap: 80px;
}
.count-level{
    padding-top: 80px;
    text-align: center;
}
.count-level h2{
    color: #00FF88;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 36px;
}
.count-level p{
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}


.fact-card{
border: 1px solid #FF900E;
border-radius: 8px;
width: 240px;
height: 240px;
align-items: center;
justify-content: center;
text-align: center;
margin-left: 40px;
}


.choose{
    width: 100%;
    max-width: 1600px;
    background-color: #230E3D;
    padding-bottom: 120px;
}
.choose-title{
    padding-top: 120px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 40px;
}
.choose-title h2{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.choose-container{
    padding-left: 200px;
    padding-right: 200px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 200px)50px 50px; */
}
.chose-side{
    grid-column: span 1;
    grid-row: span 2;
    border-radius: 40px;
    background-color: #351165;
    padding: 40px 40px 40px 40px;
}
.chose-side{
    grid-column: span 1;
    grid-row: span 2;
    border-radius: 40px;
    background-color: #351165;
}

.chose-mobile{
    grid-column: span 2;
    /* grid-row: span 1; */
    border-radius: 40px;
    background-color: #351165;
    padding: 40px 40px 40px 40px;

}

.chose-global{
    grid-column: span 2;
    border-radius: 40px;
    background-color: #351165;
    padding: 40px 40px 40px 40px;

}

.chose-interviews{
    grid-column: span 2;
    border-radius: 40px;
    background-color: #351165;
    padding: 40px 40px 40px 40px;

}

.chose-rich{
    border-radius: 40px;
    background-color: #351165;
    padding: 40px 40px 40px 40px;
}
.choose-text{
    font-size: 24;
    font-weight: bold;
    padding-top: 16px;
    color: #FFFFFF;
}
.chose-tp{
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
    /* color: #FFFFFF; */
    color: rgb(156, 144, 144);
    line-height: 24px;
}


/* featured part */

.featured-container{
    width: 100%;
    max-width: 1600px;
    background-color: #1A0B2E;
    padding-top: 120px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 120px;
}

.feature-card{
    display: flex;
    gap: 20px;

}


.featured-title{
    text-align: center;
}
.featured-text{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 40px;
}

.card-title{
    padding-top: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 24px 24px 24px 12px;
}

.card-para{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0px 24px 24px 24px;
}
.time{
    color: #00FF88;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 20px;
    
}

.img{
    padding-right: 5px;
    /* padding-top: 5px; */
}

.video{
    border-radius: 24px 24px 0px 0px;
    width: 380px;

}
.card{
    border-radius: 24px 24px 24px 24px;
    background-color: #250D44;
    width: 380px;
    gap: 20px;
}

/* host part */

.host-container{
    background-color: #1A0B2E;
    width: 100%;
    max-width: 1600px;
    padding-bottom: 120px;
}

.host-title{
    /* width: 1200px; */
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 120px;

}
.host-text{
    text-align: center;
    font-size: 48px;
    color: #FFFFFF;
    font-weight: bold;
}

.alex-container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-left: 200px;
    padding-right: 200px;
    /* color: #351165; */
}
.alex-bg{
    background-color: #351165;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;

}

.alex-discription{
    padding-left: 20px;
}

/* .alex{
    border-radius: 50px;
} */

.name{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 16px;
}

.alex-para{

    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;

}
.icon{
    border: 1px solid #533C72;
    padding: 2px;
    border-radius: 8px;
}
.social-icon{
    display: flex;
    gap: 8px;
    justify-content: start;
    align-items: center;
}


/* footer part */
.footer-container{
    background-image: url("./../images/footer-bg.png");
    width: 100%;
    max-width: 1600px;
    height: 412px;
    background-repeat: no-repeat;
    background-size: cover;

}

.footer-item{
    /* align-items: center; */
    padding-top: 150px;
    padding-left: 120px;
    padding-right: 120px;
}

.footer-title{
    text-align: center;
}

.footer-icon{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 27px;
    padding-left: 80px;
}
.icon-text{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.copyright{
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
    line-height: 24px;
}


