
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    /* margin-bottom: 30px; */
    margin-left: 200px;
    margin-right: 200px;
    height: 92px;
}

.menu{
    display: flex;
    gap: 32px;
}
.menu li{
    list-style: none;
}
a{
    text-decoration: none;
}
.menu li a{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    
}
.btn-s{
    color: #FFFFFF;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px 12px 16px;
}

.arrow{
    color: #FFFFFF;
    margin-left: 3px;
    font-weight: 400;
    font-size: 1rem;
}


#banner{
    background-image: url("./../images/hero-bg.png");
    width: 100%;
    max-width: 1600px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;

}


.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}

.circle{
    padding-left: 87px;
    padding-top: 76px;
}
.micro{

}

.banner-text {
    text-align: center;

}
.banner-text h2{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 800;
    padding-top: 40px;

}
.banner-text p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 8px;


}

.banner-button{
    padding-top: 24px;
}

.listen{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    padding: 12px;
    text-align: center;
     border-radius: 10000px;


}
.subcribe{
    color: #00FF88;
    font-weight: 600;
    font-size: 16px;
    background-color: #1A0B2E;
    /* background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1))); */
    padding: 12px;
    text-align: center;
    border:1px solid #00FF88 ;
    border-radius: 10000px;
    gap: 8;


}

#about{
    width: 100%;
    max-width: 1600px;
}
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-title{
    width: 1200px;
    height: 222px;
    text-align: center;
    padding-top: 50px;

}
.about-title h2{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
}
